<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>{{ title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		{{ meta }}
		<link rel="stylesheet" href="/bundles/public/css/app.css?2015042801" type="text/css" media="screen">

        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="Американские резиновые сапоги BOGS - обувь для жизни!"/>
        <meta name="twitter:title" content="Американские резиновые сапоги BOGS - обувь для жизни!">
        <meta name="twitter:description" content="BOGS - продуманный комофрт для любой непогоды, это самая удобная, теплая и непромокаемая обувь, которую вы когда-то носили!"/>
        <meta name="twitter:image:src" content="http://bogs-shop.ru/files/bogs250x250.jpg"/>
        <meta name="twitter:domain" content="u.r"/>

        <meta property="og:title" content="Американские резиновые сапоги BOGS - обувь для жизни!"/>
        <meta property="og:description" content="BOGS - продуманный комофрт для любой непогоды, это самая удобная, теплая и непромокаемая обувь, которую вы когда-то носили!"/>
        <meta property="og:type" content="article" />
        <meta property="og:image" content="http://bogs-shop.ru/files/bogs250x250.jpg"/>
        <meta property="og:url" content="http://bogs-shop.ru/"/>
        <meta property="og:site_name" content="Американские резиновые сапоги BOGS - обувь для жизни!"/>

        <meta name="title" content="Американские резиновые сапоги BOGS - обувь для жизни!">
        <meta name="description" content="BOGS - продуманный комофрт для любой непогоды, это самая удобная, теплая и непромокаемая обувь, которую вы когда-то носили!"/>
        <link rel="image_src" href="http://bogs-shop.ru/files/bogs250x250.jpg" />

		<!--[if lt IE 9]>
		{#<script type="text/javascript" src="/bundles/ie/html5shiv.js"></script>#}
		<script type="text/javascript" src="/bundles/ie/respond.min.js"></script>
		<![endif]-->

        <script>
            window.csrf = { csrf_token: '{{ csrf_token }}' };
            $.ajaxSetup({
                data: window.csrf
            });
        </script>
        <script>(function() {
                var _fbq = window._fbq || (window._fbq = []);
                if (!_fbq.loaded) {
                    var fbds = document.createElement('script');
                    fbds.async = true;
                    fbds.src = '//connect.facebook.net/en_US/fbds.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(fbds, s);
                    _fbq.loaded = true;
                }
                _fbq.push(['addPixelId', '427563047402050']);
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', 'PixelInitialized', {}]);
        </script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=427563047402050&amp;ev=PixelInitialized" /></noscript>
	</head>
	<body class="page page--cart">
		<div class="header clearfix">
            <div id="header1">
                <div class="container">
                    <div class="social pull-left">
                        {{ render('Fuga:Public:Catalog:social') }}
                    </div>
                    {#<div class="pull-right"><button class="show-catalog-order">BOGS оптом</button></div>#}
                    <div class="phone">{{ render('Fuga:Public:Common:block', {'name': 'phone-header'}) }} <a href="#" class="show-call-order">Заказать звонок</a></div>

                </div>
            </div>
            <div id="header2">
                <div class="container clearfix">
                    <a href="/" class="logo"><img src="/bundles/public/img/bogs_logo_footer.png"></a>
                    <a href="#" class="mm-btn"><span class="mm-btn__mid"></span></a>
                    <div class="mm-cont"></div>
                    <div class="pull-right menu">
                        <ul>
                            {% for menuitem in links %}
                            <li><a href="/#{{ menuitem.name }}" data-link="{{ menuitem.name }}" class="scrollto">{{ menuitem.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
		</div>
        <div class="container page__content">
            <h1 class="page__title">Ваша Корзина</h1>
            <!-- Products list -->
            <table class="products-list">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Размер</th>
                        <th>Кол-во</th>
                        <th>Цена</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="product-in-cart">
                        <td class="product-in-cart__name">Baby Bogs Classic Flower Stripes</td>
                        <td class="product-in-cart__size">9 US</td>
                        <td class="product-in-cart__qty">
                            <div class="product-sizes custom-select clearfix">
                                <div class="custom-select__list-wrap">
                                    <select class="custom-select__list">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                    <span class="custom-select__chevron"></span>
                                </div>
                            </div>
                        </td>
                        <td class="product-in-cart__price">14 540</td>
                        <td><a href="#"  data-id="" class="remove"></a></td>
                    </tr>
                    <tr class="product-in-cart">
                        <td class="product-in-cart__name">Baby Bogs Classic Flower Stripes</td>
                        <td class="product-in-cart__size">9 US</td>
                        <td class="product-in-cart__qty">
                            <div class="product-sizes custom-select clearfix">
                                <div class="custom-select__list-wrap">
                                    <select class="custom-select__list">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                    <span class="custom-select__chevron"></span>
                                </div>
                            </div>
                        </td>
                        <td class="product-in-cart__price">14 540</td>
                        <td><a href="#" data-id="" class="remove"></a></td>
                    </tr>
                </tbody>
            </table>
            <div class="sub-total">Сумма товаров:  <span class="sub-total__val"></span></div>

            <!-- Shipping -->
            <div class="shipping-payment clearfix">

                <div class="shipping-payment__col">
                    <h3 class="shipping-payment__title">Выберите способ доставки</h3>
                    <ul class="shipping-payment__list shipping-list">
                        <li class="shipping-payment__list__item">
                            <div class="radio">
                                <input id="pickup" type="radio" name="shipping-type" data-shipping-price="0" checked="checked">
                                <label for="pickup">Самовывоз</label>
                            </div>
                        </li>
                        <li class="shipping-payment__list__item">
                            <div class="radio">
                                <input id="courier" type="radio" name="shipping-type" data-shipping-price="500">
                                <label for="courier">Доставка по Москве курьером (500 руб.)</label>
                            </div>
                        </li>
                        <li class="shipping-payment__list__item">
                            <div class="radio">
                                <input id="russia-pr" type="radio" name="shipping-type" data-shipping-price="0" data-select-region="true">
                                <label for="russia-pr">По России «Почта России»</label>
                            </div>
                            <div class="select-region hidden-area">
                                <input type="text" class="select-region__field" placeholder="Введите название региона">
                                <ul class="autocomplete">
                                </ul>
                            </div>
                        </li>
                        <li class="shipping-payment__list__item">
                            <div class="radio">
                                <input id="russia-courier" type="radio" name="shipping-type" data-shipping-price="0" data-select-region="true" data-hide-payment=".shipping-payment__cash">
                                <label for="russia-courier">По России курьером</label>
                            </div>
                            <div class="select-region hidden-area">
                                <input type="text" class="select-region__field" placeholder="Введите название региона">
                                <ul class="autocomplete">
                                </ul>
                            </div>
                        </li>
                    </ul> 
                    <div class="shipping-total">Стоимость выбранной доставки: <span class="shipping-total__val">0</span></div>
                </div>

                <div class="shipping-payment__col">
                    <h3 class="shipping-payment__title">Доступные методы оплаты</h3>
                    <ul class="shipping-payment__list payment-list ">
                        <li class="shipping-payment__list__item shipping-payment__cash">
                            <div class="radio">
                                <input id="cache" type="radio" name="payment-type">
                                <label for="cache">Оплата наличными курьеру</label>
                            </div>
                        </li>
                        <li class="shipping-payment__list__item">
                            <div class="radio">
                                <input type="radio" name="payment-type">
                                <label for="">Оплата банковской картой</label>
                            </div>
                        </li>
                    </ul> 
                </div>

            </div>
            <div class="warning"></div>
            <div class="total">Сумма товаров и доставки:  <span class="total__val"></span></div>
            <div class="btn-wrap"><a class="btn btn-order" href="/order">Оформить заказ</a></div>

        </div>

        <!-- Footer -->
        <div class="footer">
            <div class="container clearfix">
                <div class="col">
                    <div class="phone">{{ render('Fuga:Public:Common:block', {'name': 'phone'}) }}</div>
                    <img class="logo" src="/bundles/public/img/bogs_logo_footer.png">
                </div>
                <div class="col">
                    <div class="copy">{{ render('Fuga:Public:Common:block', {'name': 'copy'}) }}</div>
                </div>
                <div class="col">
                    <div class="email"><a href="mailto:zakaz@bogs-shop.ru">zakaz@bogs-shop.ru </a></div>
                    <div class="social">{{ render('Fuga:Public:Catalog:social') }}</div>
                </div>
            </div>
            <ul class="footer-links">
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Оплата</a></li>
                <li><a href="#">Договор-оферта</a></li>
            </ul>
        </div>

        <!-- Modal -->
        <div class="modal hidden">
            <div class="modal-overlay"></div>
            <div class="modal-dialog">
                <a href="#" class="close pull-right">&times;</a>
                <div class="title"></div>
                <div class="content"></div>
            </div>
        </div>

		<script type="text/javascript" src="/bundles/jquery/jquery.js"></script>
		<script type="text/javascript" src="/bundles/public/js/cart.js"></script>
        {{ render('Fuga:Public:Common:block', {'name': 'counter'}) }}
	</body>
</html>
