<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>{{ title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		{{ meta }}
		<link rel="stylesheet" href="{{ asset('/bundles/public/css/app.css') }}" type="text/css" media="screen">

        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="Американские резиновые сапоги BOGS - обувь для жизни!"/>
        <meta name="twitter:title" content="Американские резиновые сапоги BOGS - обувь для жизни!">
        <meta name="twitter:description" content="BOGS - продуманный комофрт для любой непогоды, это самая удобная, теплая и непромокаемая обувь, которую вы когда-то носили!"/>
        <meta name="twitter:image:src" content="http://bogs-shop.ru/files/bogs250x250.jpg"/>
        <meta name="twitter:domain" content="u.r"/>

        <meta property="og:title" content="Американские резиновые сапоги BOGS - обувь для жизни!"/>
        <meta property="og:description" content="BOGS - продуманный комофрт для любой непогоды, это самая удобная, теплая и непромокаемая обувь, которую вы когда-то носили!"/>
        <meta property="og:type" content="article" />
        <meta property="og:image" content="http://bogs-shop.ru/files/bogs250x250.jpg"/>
        <meta property="og:url" content="http://bogs-shop.ru/"/>
        <meta property="og:site_name" content="Американские резиновые сапоги BOGS - обувь для жизни!"/>

        <meta name="title" content="Американские резиновые сапоги BOGS - обувь для жизни!">
        <meta name="description" content="BOGS - продуманный комфорт для любой непогоды, это самая удобная, теплая и непромокаемая обувь, которую вы когда-то носили!"/>
        <link rel="image_src" href="http://bogs-shop.ru/files/bogs250x250.jpg" />

		<!--[if lt IE 9]>
		{#<script type="text/javascript" src="/bundles/ie/html5shiv.js"></script>#}
		<script type="text/javascript" src="/bundles/ie/respond.min.js"></script>
		<![endif]-->

        <script>
            window.csrf = { csrf_token: '{{ csrf_token }}' };
            $.ajaxSetup({
                data: window.csrf
            });
        </script>
        <script>(function() {
                var _fbq = window._fbq || (window._fbq = []);
                if (!_fbq.loaded) {
                    var fbds = document.createElement('script');
                    fbds.async = true;
                    fbds.src = '//connect.facebook.net/en_US/fbds.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(fbds, s);
                    _fbq.loaded = true;
                }
                _fbq.push(['addPixelId', '427563047402050']);
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', 'PixelInitialized', {}]);
        </script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=427563047402050&amp;ev=PixelInitialized" /></noscript>
	</head>
	<body class="page page--cart">
		<div class="header clearfix">
            <div id="header1">
                <div class="container">
                    <div class="social pull-left">
                        {{ render('Fuga:Public:Catalog:social') }}
                    </div>
                    {#<div class="pull-right"><button class="show-catalog-order">BOGS оптом</button></div>#}
                    <div class="phone">{{ render('Fuga:Public:Common:block', {'name': 'phone-header'}) }} <a href="#" class="show-call-order">Заказать звонок</a></div>

                </div>
            </div>
            <div id="header2">
                <div class="container clearfix">
                    <div class="logo"><a href="/"><img src="/bundles/public/img/bogs_logo_footer.png"></a></div>
                    <a href="#" class="mm-btn"><span class="mm-btn__mid"></span></a>
                    <div class="mm-cont"></div>
                    <div id="cart">{{ render('Fuga:Public:Basket:mini') }}</div>
                    <div class="pull-right menu">
                        <ul>
                            {% for menuitem in links %}
                            {% if (menuitem.name == 'blog') %}
                            <li><a href="{{ menuitem.ref }}">{{ menuitem.title }}</a></li>
                            {% else %}
                                <li><a href="/#{{ menuitem.name }}" data-link="{{ menuitem.name }}">{{ menuitem.title }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
		</div>
        <div class="container page__content">
            <h1 class="page__title">{{ h1 }}</h1>

            {{ maincontent }}
        </div>
        <div class="footer">
            <div class="container clearfix">
                <div class="col">
                    <div class="phone">{{ render('Fuga:Public:Common:block', {'name': 'phone'}) }}</div>
                    <a href="/"><img class="logo" src="/bundles/public/img/bogs_logo_footer.png"></a>
                </div>
                <div class="col">
                    <a href="/#catalog" data-link="catalog" class="catalog-link">Заказать</a><br>
                    <div class="copy">{{ render('Fuga:Public:Common:block', {'name': 'copy'}) }}</div>
                </div>
                <div class="col">
                    <div class="email"><a href="mailto:zakaz@bogs-shop.ru">zakaz@bogs-shop.ru </a></div>
                    <div class="social">{{ render('Fuga:Public:Catalog:social') }}</div>
                </div>
            </div>
            <ul class="footer-links">
                <li><a href="/delivery">Доставка</a></li>
                <li><a href="/payment">Оплата</a></li>
                <li><a href="/formal-offer">Договор-оферта</a></li>
            </ul>
        </div>
        <div class="modal hidden">
            <div class="modal-overlay"></div>
            <div class="modal-dialog">
                <a href="#" class="close pull-right">&times;</a>
                <div class="title"></div>
                <div class="content"></div>
            </div>
        </div>

		<script type="text/javascript" src="/bundles/jquery/jquery.js"></script>
        <script src="/bundles/public/js/slick.min.js"></script>
        <script src="/bundles/public/js/jquery.maskedinput.min.js"></script>
		<script type="text/javascript" src="{{ asset('/bundles/public/js/app.js') }}"></script>
        {% for script in javascript %}
        <script type="text/javascript" src="{{ asset(script) }}"></script>
        {% endfor %}
        {{ render('Fuga:Public:Common:block', {'name': 'counter'}) }}
	</body>
</html>
