<div class="catalog"><a name="catalog" id="catalog"></a>
    {% for cat in cats %}
    <div class="title"><img src="/files/category/{{ cat.name }}_collection.jpg"></div>
    <div class="products-wrapper">
        <div class="slider-products products">
            {% for item in cat.items %}
            <div class="item">
                <div class="category">{{ item.category_id_value.item.title }}<br>{{ item.articul }}</div>
                <div class="name">{{ item.name }}</div>
                <a class="photo view-product" href="#" data-id="{{ item.id }}"><img src="{{ item.photo_value.extra.main.path }}"></a>
                <div class="price">{{ item.price }} руб.</div>

                <button class="choose-product" data-id="{{ item.id }}">Выбрать</button>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="sizes">
        <div class="link"><a href="">Таблица размеров</a></div>
        <div class="content"><img src="/files/category/size_{{ cat.name }}.png"></div>
    </div>
    {% endfor %}
</div>