<div class="product-card clearfix">
    <div class="product-gallery">
        <ul class="gallery-img-big">
            <li class="active"><img src="{{ product.photo_value.extra.main.path }}" class="gallery-thumb"></li>
            {% for image in product.gallery_value  %}
            <li><img src="{{ image.extra.main.path }}" class="gallery-thumb" ></li>
            {% endfor %}
        </ul>
        <ul class="gallery-grid clearfix">
            <li class="active"><img src="{{ product.photo_value.extra.main.path }}" class="gallery-thumb" data-img-id="1"></li>
            {% for image in product.gallery_value  %}
            <li><img src="{{ image.extra.thumb.path }}" class="gallery-thumb" data-img-id="{{ loop.index+1 }}"></li>
            {% endfor %}
        </ul>
    </div>
    <div class="product-checkout clearfix">
        <div class="product-price">{{ product.price }} руб.</div>
        <div class="product-sku">Артикул: {{ product.articul }}</div>
        <div class="product-props clearfix">
            {% if sizes|length > 0 %}
            <div class="product-sizes custom-select clearfix">
                <div class="custom-select__label">Размеры:</div>
                <div class="custom-select__list-wrap">
                    <select class="custom-select__list" id="sizes">
                        {% for size in sizes %}
                            <option data-value="{% if product.is_preorder %}10{% else %}{{ size.quantity + size.quantity2 }}{% endif %}" value="{{ size.modarola_id }}">{{ size.size }} US</option>
                        {% endfor %}
                    </select>
                    <span class="custom-select__chevron"></span>
                </div>
            </div>
            <div class="product-qty custom-select clearfix">
                {% if sizes|length > 0 %}<a href="/basket" class="btn active add-product">Добавить в корзину</a>{% endif %}
                {#<div class="custom-select__label">Кол-во:</div>#}
                {#<div class="custom-input">#}
                    {#<a href="javascript:;" class="circle minus-circle amount-dec">-</a>#}
                    {#<input type="text"#}
                           {#class="amount"#}
                           {#data-sku=""#}
                           {#data-value=""#}
                           {#value="1" />#}
                    {#<a href="javascript:;" class="circle plus-circle amount-inc">+</a>#}
                {#</div>#}
            </div>
            {% else %}
            Временно нет в наличии
            {% endif %}
        </div>
        {#<div class="btn-wrap">#}

        {#</div>#}
        <ul class="product-tabs">
            <li class="active"><a href="#" data-tab="description">Описание</a></li>
            <li><a href="#" data-tab="delivery">Доставка</a></li>
            <li><a href="#" data-tab="payment">Оплата</a></li>
            <li><a href="#" data-tab="table">Таблица размеров</a></li>
        </ul>
        <ul class="product-tabs-content">
            <li data-tab-content="description" class="active">{{ product.description }}</li>
            <li data-tab-content="delivery">{{ render('Fuga:Public:Common:block', {'name': 'delivery'}) }}</li>
            <li data-tab-content="payment">{{ render('Fuga:Public:Common:block', {'name': 'payment'}) }}</li>
            <li data-tab-content="table"><img src="/files/category/size_{{ product.category_id_value.item.name }}.png" /></li>
        </ul>
    </div>
</div>