{% if message %}
    <div class="basket-error">{{ message }}</div>
{% endif %}
<!-- Products list -->

<table class="products-list">
    {% if cart|length == 0 %}
    <tr class="empty-cart"><td>Ваша корзина пуста</td></tr>
    {% else %}
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Размер</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Сумма</th>
    </tr>
    </thead>
    <tbody>
    {% for product in cart %}
    <tr class="product-in-cart">
        <td class="product-in-cart__name"><img class="product-in-cart__photo" src="{{ product.product.photo_value.extra.thumb.path }}"> {{ product.product.name }} (Арт. {{ product.product.articul }})</td>
        <td class="product-in-cart__size">{{ product.sku.size }} US</td>
        <td class="product-in-cart__price0">{{ product.product.price }}</td>
        <td class="product-in-cart__qty">
            <div class="product-sizes custom-select clearfix">
                {#<div class="custom-select__list-wrap">#}
                    {#<select class="custom-select__list">#}
                        {#<option>1</option>#}
                        {#<option>2</option>#}
                        {#<option>3</option>#}
                    {#</select>#}
                    {#<span class="custom-select__chevron"></span>#}
                {#</div>#}
                <div class="custom-input custom-input_cart">
                    <a href="javascript:;" class="circle minus-circle amount-dec">-</a>
                    <input type="text"
                           class="amount"
                           data-price="{{ product.product.price }}"
                           data-id="{{ product.sku.id }}"
                           data-sku="{{ product.sku.modarola_id }}"
                           data-value="{% if product.sku.product_id_value.item.is_preorder %}10{% else %}{{ product.sku.quantity+product.sku.quantity2+product.sku.quantity3 }}{% endif %}"
                           value="{{ product.amount }}" />
                    <a href="javascript:;" class="circle plus-circle amount-inc">+</a>
                </div>
            </div>
        </td>
        <td class="product-in-cart__price">{{ product.sku.product_id_value.item.price*product.amount }}</td>
        <td><a href="#"  data-id="{{ product.sku.id }}" class="remove"></a></td>
    </tr>
    {% endfor %}
    </tbody>
    {% endif %}
</table>
{% if cart|length > 0 %}
<a name="info"></a>
<div class="sub-total">Сумма товаров:  <span class="sub-total__val">{{ total }}</span></div>

<!-- Shipping -->

<div class="shipping-payment clearfix">
    <div class="shipping-payment__col">
        <h3 class="shipping-payment__title">Выберите способ доставки</h3>
        <ul class="shipping-payment__list shipping-list">
            <li class="shipping-payment__list__item">
                <div class="radio">
                    <input id="pickup" type="radio" name="shipping-type" value="self" data-shipping-price="0" checked="checked">
                    <label for="pickup">Самовывоз</label>
                </div>
            </li>
            <li class="shipping-payment__list__item">
                <div class="radio">
                    <input id="courier" type="radio" name="shipping-type" value="courier" data-shipping-price="350">
                    <label for="courier">Доставка по Москве курьером (350 руб.)</label>
                </div>
            </li>
            {#<li class="shipping-payment__list__item">#}
                {#<div class="radio">#}
                    {#<input id="russia-pr" type="radio" name="shipping-type" value="mkad_post" data-shipping-price="0" data-select-region="true" data-hide-payment=".shipping-payment__cash">#}
                    {#<label for="russia-pr">За МКАД «Почта России»</label>#}
                {#</div>#}
                {#<div class="select-city hidden-area">#}
                    {#<input type="text" class="select-region__field" data-source="cities" data-context="price" placeholder="Введите название города">#}
                    {#<ul class="autocomplete">#}
                    {#</ul>#}
                {#</div>#}
            {#</li>#}
            <li class="shipping-payment__list__item">
                <div class="radio">
                    <input id="russia-pr" type="radio" name="shipping-type" value="mkad_carrier" data-shipping-price="0" data-select-region="true" data-hide-payment=".shipping-payment__cash">
                    <label for="russia-pr">За МКАД курьером</label>
                </div>
                <div class="select-city hidden-area">
                    <input type="text" class="select-region__field" data-source="cities" data-context="price_carrier" placeholder="Введите название города">
                    <ul class="autocomplete">
                    </ul>
                </div>
            </li>
            <li class="shipping-payment__list__item">
                <div class="radio">
                    <input id="russia-pr" type="radio" name="shipping-type" value="russia_post" data-shipping-price="-1" data-select-region="false" data-hide-payment=".shipping-payment__cash">
                    <label for="russia-pr">По России «Почта России»</label>
                </div>
                {#<div class="select-region hidden-area">#}
                    {#<input type="text" class="select-region__field" data-source="regions" data-context="price" placeholder="Введите название региона">#}
                    {#<ul class="autocomplete">#}
                    {#</ul>#}
                {#</div>#}
            </li>
            <li class="shipping-payment__list__item">
                <div class="radio">
                    <input id="russia-courier" type="radio" name="shipping-type" value="russia_carrier" data-shipping-price="-1" data-select-region="false" data-hide-payment=".shipping-payment__cash">
                    <label for="russia-courier">По России курьером</label>
                </div>
                {#<div class="select-region hidden-area">#}
                    {#<input type="text" class="select-region__field" data-source="regions" data-context="price_carrier" placeholder="Введите название региона">#}
                    {#<ul class="autocomplete">#}
                    {#</ul>#}
                {#</div>#}
            </li>
            <li class="shipping-payment__list__item">
                <div class="radio">
                    <input id="russia-pr" type="radio" name="shipping-type" value="sng_post" data-shipping-price="-1" data-select-region="false" data-hide-payment=".shipping-payment__cash">
                    <label for="russia-pr">Страны СНГ «Почта России»</label>
                </div>
                {#<div class="select-country hidden-area">#}
                    {#<input type="text" class="select-region__field" data-source="countries" data-context="price" placeholder="Введите название страны">#}
                    {#<ul class="autocomplete">#}
                    {#</ul>#}
                {#</div>#}
            </li>
        </ul>
        <div class="shipping-total">Стоимость выбранной доставки: <span class="shipping-total__val">0</span></div>
    </div>

    <div class="shipping-payment__col">
        <h3 class="shipping-payment__title">Доступные методы оплаты</h3>
        <ul class="shipping-payment__list payment-list ">
            <li class="shipping-payment__list__item shipping-payment__cash">
                <div class="radio">
                    <input id="cache" type="radio" value="cash"{% if payment_type == 'cash' %} checked="checked"{% endif %} name="payment-type">
                    <label for="cache">Оплата наличными при получении</label>
                </div>
            </li>
            {% if payonline_enabled %}<li class="shipping-payment__list__item">
                <div class="radio">
                    <input type="radio" name="payment-type" value="card"{% if payment_type == 'card' %} checked="checked"{% endif %}>
                    <label for="">Оплата банковской картой</label>
                </div>
            </li>{% endif %}
        </ul>
    </div>

</div>
<div class="warning"></div>
<div class="total"><span class="total__title">Сумма товаров и доставки</span>:  <span class="total__val"></span></div>
<div class="btn-wrap"><a class="btn btn-order" href="/basket/new">Оформить заказ</a></div>
{% endif %}